@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

@layer base {
  body {
    @apply bg-[#050505] text-[#ededed] antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
